AWS_REGION=eu-central-1
AWS_S3_BUCKET=xlstat-evalytics-org
AWS_CLOUDFRONT_DISTRIBUTION_ID=
AWS_HOSTNAME=xlstat.evalytics.org
AWS_SITE_URL=https://xlstat.evalytics.org
AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_SESSION_TOKEN=

